*,
*:before,
*:after {
    box-sizing: border-box;
}

html body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
